#!/sbin/openrc-run

USER='discord'
DIR='anchorAnalytics'


depend() {
    need net
}

procname='discord-bot-anchor-analytics'
pidfile="/run/$procname.pid"

command_user="$USER:$USER"
command_background='true'

command='python3'
command_args="/home/$USER/$DIR/bot.py"

output_log="/home/$USER/$DIR/log.log"
error_log="/home/$USER/$DIR/err.err"
