USER=discord

DIR=anchorAnalytics
DIR=/home/$USER/$DIR

EXEC=bot.py
EXEC=$DIR/$EXEC

ID=discord-bot-anchor-analytics
ID=/run/$ID.pid

SUPERVISOR=start-stop-daemon

START=" \
	--start \
	--chuid $USER \
	--group $USER \
	--chdir $DIR \
	--make-pidfile \
	--remove-pidfile \
	--pidfile $ID \
	--background \
	--output $DIR/out.txt \
	--exec $EXEC"

STOP=" \
	--stop \
	--pidfile $ID"

[Unit]
After=network.target
Description='Discord Bot - Anchor Analytics'

[Service]
ExecStart=$SUPERVISOR $START
ExecStop=$SUPERVISOR $STOP
